html {
  background-color: antiquewhite;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin: 0;
}

h1 {
  font-size: 50px;
  margin-top: 20px;
}

/* Flex container for top section */
#top-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column; /* flex direction column and align items center makes the img sit on top of the ul*/
  align-items: center;
  flex-wrap: wrap;
  width: 90%; /* limits width to avoid stretching on big screens */
  margin: 20px auto;
}

#introPic,
#about-me {
  width: 45%; /* each side takes roughly half */
  border: 2px solid burlywood;
  margin: 20px auto;
  box-sizing: border-box;

}

/* Image scaling */
#introPic img {
  width: 100%;
  height: auto;
}

#about-me > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#about-me li {
  padding: 2px;
}

#pro {
  border: 2px solid burlywood;
  margin: 10px;
  width: 90%;
  box-sizing: border-box;
}

/* Media Query for small screens like iPhone 6/7/8 */
@media screen and (max-width: 500px) {
  #top-section {
    width: 100%;
  }
  #introPic,
  #about-me {
    width: 100%;
  }

  #introPic img {
    width: 90%;
  }
}
